[Desktop Entry]
Name=Shutdown or Switch
Comment=Quickly switch between different users and access shutdown options

Type=Service
Icon=system-shutdown
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Davide Sandona
X-KDE-PluginInfo-Email=sandona.davide@gmail.com
X-KDE-PluginInfo-Name=org.kde.shutdownOrSwitch
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL2+
X-KDE-PluginInfo-Website=https://github.com/Davide-sd/shutdown_or_switch